extends template

block content
    h1 Welcome to Kevin's Dorm Supplies
    form(style='text-align: center')
        h2 Register a New User Via This Form
        input(type='email' name='email' placeholder='Email') 
        br
        input(type='password' name='password' placeholder='Password') 
        br
        input(type='text' name='name' placeholder='Name') 
        br
        button(type ='button' onclick = 'register()') Activate register() in scripts.js


//- block postScript
//-     script submitOnEnterKey(submitForm);






